<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>10k Apart 2016</title>

  <style>
    html {
      box-sizing: border-box;
      font-size: 16px;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    body {
      margin: 2rem auto;
      max-width: 48rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      background-color: #2b303b;
      color: #c0c5ce;
    }

    .pre {
      font-size: 90%;
      font-family: Menlo, monospace;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <h1>${data.url}</h1>
  <p>Time: ${data.time}ms</p>

  <h2>HTML</h2>
  <pre class="pre">${data.body}</pre>

  <h2>Text</h2>
  <pre class="pre">${data.text}</pre>
  <pre class="pre">${data.text2}</pre>

  <h2>Roles</h2>
  <ul>
    <li for(role in data.roles)>
      ${role}
    </li>
  </ul>
</body>
</html>
