<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>10k Apart 2016</title>
</head>
<body>
  <h1>Hello world!</h1>

  <h2>HTML</h2>
  ${data.body}

  <h2>Text</h2>
  ${data.text}
</body>
</html>
